@page "/"
@using joy_database.Repositories
@using joy_database.Models
@using Ganss.Xss
@page "/feed"
@inject StoryRepository StoryRepository

<h3>Story Feed</h3>

@foreach (var story in stories)
{
    <div class="story">
        <div class="story-header">
            <strong>@story.Name</strong>
            <div>@story.Created.ToString("dd/MM/yyyy")</div>
        </div>
        <div class="story-text">
            @((MarkupString)new HtmlSanitizer().Sanitize(story.Text))
            @foreach (var media in story.Media)
            {
                <img src="@media.Filename" height="300" width="300"/>
            }

        </div>
    </div>
}

@code {
    private List<Story> stories;

    protected override async Task OnInitializedAsync()
    {
        stories = await StoryRepository.GetAllApproved();
    }
}
