@inherits LayoutComponentBase

<PageTitle>joy-memorial</PageTitle>


<div class="flex-column mobile-menu">
    <span id="menu-icon" class="oi oi-menu" @onclick="ToggleNav"></span>
</div>
<div class="page" @onclick="HideNav">
    <main>

        <div class="top-row px-4 auth @( HiddenNavClass ? "hidden-nav" : "" )" id="menu">

            <LoginDisplay/>
            <a href="/">Home</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnAfterRender( bool firstRender )
    {
        base.OnAfterRender( firstRender );
        HiddenNavClass = true;
    }

    private bool HiddenNavClass { get; set; } = true;

    void ToggleNav( )
    {
        HiddenNavClass = !HiddenNavClass;
    }

    private void HideNav( )
    {
        HiddenNavClass = true;
    }
}